.main {
  min-height: 100vh;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', 'sans-serif';
  color: rgba(11, 31, 53, .95);
}

.logo {
  position: absolute;
  top: 35px;
  left: 60px;
  width: 30px;
  height: 40px;
}

.container {
  max-width: 564px;
  margin: 0 auto;
}

.topInfo {
  padding-top: 104px;
  margin-bottom: 32px;
}

.topInfo h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.topInfo h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.topInfo img {
  width: 172px;
  height: 108px;
}

.topInfo ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.topInfo li {
  margin-bottom: 16px;
  margin-left: 5px;
}

.box {
  display: flex;
}

.featureBox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
}

.feature {
  width: calc(50% - 5px);
}

.featureTitle {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.featureText {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.footer {
  box-sizing: border-box;
  padding: 48px 24px;
  background-color: #f5f7f9;
}

.footerContainer {
  margin: 0 auto;
  width: 1140px;
}

.footerLink {
  font-size: 16px;
  font-style: normal;
  margin-bottom: 16px;
  color: #546272;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footerLink:hover {
  text-decoration: none;
}

.footerLink img {
  margin-right: 8px;
}

.footerLink a {
  display: flex;
  align-items: center;
}

.footerText {
  color: #546272;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}