.main {
  min-height: 100vh;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', 'sans-serif';
  color: rgba(11, 31, 53, .95);
}

.logo {
  position: absolute;
  top: 35px;
  left: 60px;
  width: 30px;
  height: 40px;
}

.container {
  max-width: 564px;
  margin: 0 auto;
}

.topInfo {
  padding-top: 104px;
  margin-bottom: 32px;
}

.topInfo h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.topInfo h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.topInfo img {
  width: 172px;
  height: 108px;
}

.topInfo ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.topInfo li {
  margin-bottom: 16px;
  margin-left: 5px;
}

.box {
  display: flex;
}

.featureBox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
}

.feature {
  width: calc(50% - 5px);
}

.featureTitle {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.featureText {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.indicator {
  height: 9px;
  border-radius: 4px;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #f5f7f9;
}

.progress {
  padding-top: 12px;
}

.progress p {
  padding: 8px 0;
  font-size: 13px;
  opacity: 0.6;
  font-weight: 400;
}

.indicatorStep {
  width: 30%;
  background-color: #f5f7f9;
  background-image: linear-gradient(-45deg, #dbdee1 25%, transparent 0, transparent 50%, #dbdee1 0, #dbdee1 75%, transparent 0, transparent);
  background-size: 16px 16px;
}

.progressStatus {
  font-size: 13px;
  opacity: .6;
  padding: 8px 0;
  font-weight: 400;
  height: 8px;
}

.formBlock {
  padding: 30px 0 40px;
}

.form {
  padding: 0 0 40px;
}

.formContetn {
  background: linear-gradient(90deg, rgba(248, 211, 209, .3), rgba(212, 232, 253, .3));
  border-radius: 8px;
  margin-bottom: 32px;
  display: flex;
  padding: 24px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0 0 -12px 0;
}

.form h2 {
  margin: 20px 0 16px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
}

.form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 6px;
  margin-bottom: 16px;
  width: 400px;
}

.form button {
  background-color: transparent;
  border: 1px solid #6d7986;
  width: 296px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 4px;
  background-image: url('../../public/btn.png');
  background-repeat: no-repeat;
  background-position: 10% 50%;
  padding: 0 0 0 30px;
}

.form img {
  width: 72px;
  height: 72px;
}

.boxAdress {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.inputBox {
  padding-bottom: 24px;
}

.inputBoxAdress {
  width: 266px;
}

.span {
  padding: 5px 12px 0 0;
  color: rgba(11, 31, 53, .6);
  font-weight: 400;
  font-size: 13px;
}

.input {
  width: 100%;
  height: 56px;
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid rgba(11, 31, 53, .4);
  background-color: rgba(11, 31, 53, .05);
  font-weight: 400;
  line-height: inherit;
  margin-bottom: 5px;
}

.input::placeholder {
  font-size: 16px;
}

.treatment {
  display: flex;
  margin-bottom: 30px;
}

.treatmentText {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 10px;
}

.agreement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 4px;
  background: #f5f7f9;
}

.agreementBtn {
  color: #fff;
  background: rgba(240, 50, 38, .85);
  border: none;
  width: 250px;
  border-radius: 4px;
  height: 50px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
}

.agreementText {
  display: flex;
  align-items: center;
  background-image: url('../../public/sheld.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 0 0 0 35px;
  width: 250px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #0b1f35;
}

.footer {
  box-sizing: border-box;
  padding: 48px 24px;
  background-color: #f5f7f9;
}

.footerContainer {
  margin: 0 auto;
  width: 1140px;
}

.footerLink {
  font-size: 16px;
  font-style: normal;
  margin-bottom: 16px;
  color: #546272;
  font-weight: 400;
}

.footerLink img {
  margin-right: 8px;
}

.footerText {
  color: #546272;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}